/* colors -> https://coolors.co/e54b4b-ebebd3-464655-e4b363-e8e9eb */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
	margin: 0;
	background: rgb(4, 61, 114);
	font-family: 'Work Sans', sans-serif;
	font-weight: 550;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background: rgb(148, 35, 21);
  color: #EBEBD3;
  padding: 1em 0;
  position: relative;
}

header::after {
  content: '';
  clear: both;
  display: block;
   content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.logo span {
  font-weight: 400;
}


.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #464655;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
  display: block; 
}

.site-nav--open {
  clip-path: circle(250% at top right);
  display: block; 
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 5px solid #575766;
  /** hover  */
  display: block; /* caused drop down menu to b inline */
 max-width: 200px;
 /* margin-left: 70px; not needed*/
  /*padding-top: 23px;   not needed moved menu down to far and didnt fix hover pushing down menu*/
  position: relative; /*      made no change */
  /** end hover */
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #EBEBD3;
  display: block;
  
  margin: 0;
  
  padding: 3em 1.5em 3em 3em;
  position: relative;
  
  text-decoration: none;
  text-transform: uppercase;
}

.hover{
  right:0;
  text-align: right;
  margin: 0;
  padding:5x 0 0 0;
  position: relative;
}


.site-nav a::before {
  background-color: rgba(255,255,255,.4);
  bottom: 0;
  content: '';
  display: inline-block;  /**       fixed hover  */
  height: 0;
  left: 0;
  position: absolute;
  transition: all ease-in-out 550ms;
  width: 0;
  
}


.site-nav a:hover::before {
  background-color: rgba(87, 32, 32, 0.664);
  height: 100%;
  width: 100%;
}


.site-nav--icon {
  
  color: rgba(255,255,255,.4);
  display: inline-block;
  font-size: 1.5em;
  margin-left: 0;
  margin-right: 15px;
  
  float: left;
  
  width: 5px;
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}


@media (min-width: 740px) {

  .menu-toggle {
    display: none;
  }
  
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }
  
  .site-nav li {
    display: inline-block;
    border: none;
    position: relative;
  }
  
  .site-nav a {
    padding: 8px 5px 5px 5px;
    margin-left: 3em;
    position: relative;
  }
  .site-nav::before {
  background: rgb(238, 238, 238);
  
  bottom: -10px;
  
  left: -10px;
  transition: all ease-in-out 350ms;
  }
  
  .site-nav a:hover::before {
  background: rgb(82, 77, 77);
  
  
  transition: all ease-in-out 350ms;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
     background: transparent;
  }
  
  .site-nav--icon {
    display: none;
  }
  
}