/* colors -> https://coolors.co/e54b4b-ebebd3-464655-e4b363-e8e9eb */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
	margin: 0;
	background: rgb(4, 61, 114);
	font-family: 'Work Sans', sans-serif;
	font-weight: 550;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background: #E54B4B;
  color: #EBEBD3;
  padding: 1em 0;
  position: relative;
}

header::after {
  content: '';
  clear: both;
  display: block;
   content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.logo span {
  font-weight: 400;
}


.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #464655;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
  display: block; 
}

.site-nav--open {
  clip-path: circle(250% at top right);
  display: block; 
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 5px solid #575766;
  /** hover  */
  display: block; /* caused drop down menu to b inline */
 max-width: 200px;
 /* margin-left: 70px; not needed*/
  /*padding-top: 23px;   not needed moved menu down to far and didnt fix hover pushing down menu*/
  position: relative; /*      made no change */
  /** end hover */
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #EBEBD3;
  display: block;
  padding: 12px 0 0 0;
  margin: 1.5em 1em 2em 1.5em;
  max-width: 200px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.site-nav a:hover,
.site-nav a:focus {
 /* background: #E4B363; */
 /* color: #464655; */
}

.site-nav--icon {
  display: inline;
  font-size: 1.5em;
  margin-right: 25px;
  width: 5px;
  text-align: right;
  color: rgba(255,255,255,.4);
  
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}


/******************************************************************* */
/*** New codepen hover effect */
header::after {
 
}
/**
.logo {
  float: left;
  padding: 10px 0;
} */

/**nav 
{
   float: right; not needed all working  
}*/

/*nav ul {
  margin: 0;
  padding: 0;       same as .site-nav ul
  list-style: none;
}*/ 

/*nav li {
      display: inline-block;
  margin-left: 70px;
  padding-top: 23px;            moved display and postion to .site-nav li

  position: relative;          
}*/ 
/*nav a {
            /*color: rgb(136, 6, 6); dup* .site-nav *
           /* text-decoration: none; dup*     " *
  /* text-transform: uppercase; dup*          " *
  /* font-size: 14px;    smaller font as      "  *
} */

/*nav a:hover {
  color: #000;
}*/

nav a::before {
  content: '';
  display: block;  /**       fixed hover  */
  height: 5px;
  background-color: rgb(22, 19, 180);
  position: absolute;
  top: 12px;
  
  width: 0%;
  transition: all ease-in-out 450ms;
}


nav a:hover::before {
  width: calc(100% - 0px) ;
}
/**********************   new codepen endof copy               ************** */

@media (max-width: 740px) {
  
  .menu-toggle {
    display: none;
  }
  
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }
  
  .site-nav li {
    display: inline-block;
    border: none;
    position: relative;
  }
  
  .site-nav a {
    padding: 5px 0 0 0;
    margin-left: 3em;
    position: relative;
  }
  nav a::before {
  background: #444;
  top: 0px;
  transition: all ease-in-out 350ms;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
   /* background: transparent;*/
  }
  
  .site-nav--icon {
    display: none;
  }
  
}