body {
	margin: 0;
	background: rgb(4, 61, 114);
	font-family: 'Work Sans', sans-serif;
	font-weight: 550;
}

.container {
  background: #464655;
  height: 80px;
	width: 90%;
	margin: 0;
  padding: 0;
}


/*
header {
  background: #383838;
}

header::after {
  content: '';
  display: table;
  clear: both;
}*/

.logo {
 display: inline-block;
  margin: 0;
  padding:  0;
  
 }
.logo-h1 {
  display: inline;
  color: aquamarine;
  margin: 25px 0;
  position: relative;
}
.logo img{
  padding: 10px;
}
.logo-span {
  position: relative;
  display: inline-block;
  color: rgb(246, 252, 250);
  height: 50px;
  width: 10px;
}
.site-nav {
  margin: 0 0 5px 30%;
  
 }

.site-nav li {
  display: inline-block;
  margin-left: 20px;
  padding-top: 23px;
  position: relative;
}
.site-nav a {
  color: rgb(158, 152, 152);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav ul {
  display: inline-block;
  margin: 0;
  padding:  0;
  list-style: none;
}
/*
nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}*/

/***********************************/
/* colors -> https://coolors.co/e54b4b-ebebd3-464655-e4b363-e8e9eb */



/*
body {
  background: #F0F8EA;
  font-family: 'Quicksand', sans-serif;
}

.container {
  /*width: 95%; */
 
 /* margin: 0 auto; 
}

header {
 /* background: #E54B4B;
  color: #EBEBD3;*/
 /* padding: 0 0;*/
 /* position: relative;
}

header::after {
  content: '';
  clear: both;
  display: inline-block;
}
/*
.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.logo span {
  font-weight: 400;
}



.site-nav--open {
  display: inline-block;
  clip-path: circle(250% at top right);
 
}



.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}



.site-nav a:hover,
.site-nav a:focus {
  background: #E4B363;
  color: #464655;
}

.site-nav--icon {
  display: inline-block;
 /* font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 860px) {
  
  .menu-toggle div {
    display: none;
  }
  
  .site-nav {
    display: inline-block;
    height: auto;
    position: relative;
    background: transparent;
    
    clip-path: initial;
  }
  
  .site-nav li {
    display: inline-block;
    border: none;
  }
  
 
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }
  
  .site-nav--icon {
    display: none;
  }
  
}


/***************************************/











/**
body {
      /**background-color: rgb(0, 153, 153);
      font-family: Verdana;
      margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

#border {
      border-color: midnightblue;
      border-style: solid;
      border-width: 3px;
      padding-bottom: 5px;
      padding-left: 5px;
}
.container {
	width: 80%;
      margin: 0 auto;
}

#header {
      
      text-align: center;
      margin: auto auto;
}
header::after {
      content: '';
      display: table;
      clear: both;
}
#header li {
     
      display: inline;
      font-size: 18px;
      list-style: none;
      list-style-type: none;
      padding-right:10%;
      width:80%;
      
      margin: auto auto;
      
}
#header a {
      text-decoration: none;
      }
#header a:hover {
            color:greenyellow;
}

#headerimage {
      display: block;
      height: 80%;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      z-index: 1;
}

#instagram {
      background-color: rgb(95, 192, 15);
      column-count: 3;
      display: block;
      height: 100%;
      margin-bottom: 1em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1em;
      padding: 1em;
      width: 80%;
}
#otherLists {
      background-color: rgb(95, 192, 15);
      display: inline-block;
      font-size: 1.05em;
      margin-bottom: .15em;
      margin-top: .15em;
      padding-left: 3px;
      padding-right: 8px;
}

#page {
      column-count: 2;
      margin: 5%;
      font-size: .75em;
      padding: 5px;
}

#pic {
      background-color: rgb(95, 192, 15);
      column-count: 3;
      display: block;
      height: 50%;
      margin-bottom: 1em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1em;
      padding: 1em;
      width: 50%;
}

#terms {
      background-color: rgb(255, 204, 0);
      display: inline-block;
      font-size: 1.05em;
      margin-bottom: .15em;
      margin-top: .15em;
      padding-left: 3px;
      padding-right: 8px;
}

*h1 {
      background-color: rgb(255, 0, 0);
      bottom: 1px;
      color: rgb(255, 255, 255);
      padding: 1px;
      text-align: center;
      top: 1px;
}

h3 {
      background-color: lightblue;
      bottom: 1px;
      font-size: 1.2em;
      margin-bottom: 5px;
      margin-right: 5%;
      margin-top: 7px;
      padding: 1px;
      padding-right: 7px;
      text-align: center;
}

h4 {
      background-color: pink;
      bottom: 1px;
      padding: 1px;
      top: 1px;
}*/