* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(2, 2, 12);
}

.container {
   display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(233, 230, 36, 0);
}

.header-container {
  color: rgb(247, 241, 241);
  background-color: rgb(100, 100, 100);
  display: flex;
  justify-content: center;
}

.header-container  .container{
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.name,
.job,
.header-logo {
  display: flex;

 padding: 10px;
 width: 350px;
 justify-content: center;
  height: 75px;
  display: flex; 
  align-items: center;
  font: 2em san-serif;
  font-weight: 700;
}

.myPic img {
  width: 30%;
  height: 30%;
  display: block;
  margin: 10px auto;
}

.myPic,
.skills,
.repo {
  padding: 15px;
  color: white;
  background-color: rgba(146, 255, 127, 0);
}

.repo{
  height: 150px;
  width: 200px;
  
}

ol {
  text-align: center;
  list-style: none;
}
li {
    color: rgb(17, 10, 112);
  font: 3.25em;
  font-family: constantia,"Lucida Bright", Lucidabright, "Lucida Serif","Times New Roman",times,serif;

}

.skills {
  padding-top: 50px;
  width: 60%;
  margin: auto;
}

table {
  text-align: center;
  padding-top: 30px;
}

.button {
  color: black;
  background-color: rgb(179, 175, 175);
}

.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(89, 12, 12);
    color: white;
}

.footer-container .container {
  font: 1.25em sans-serif;
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer-logo{
 margin: 0;
 padding: 0;
}

.phone,
.email,
.social {
  padding: 0;
  display: flex;  
  width: 325px;
  align-items: center;
  background-color: rgba(127, 255, 212, 0);
  height: 75px;
}

.github,
.instagram,
.facebook,
.linkedin {
  padding: 5px;

}
.email a {
  color: rgb(2, 154, 255);
  
}

.space {
  display: block;
  height: 200px;
  background-color: rgba(2, 154, 255, 0);
}

/*****       Small Screen Code       ******/

@media (max-width: 1200px) {
  .name,
  .job {
      height: 30px;
}

  .footer-logo,
  .phone,
  .email {
      height: 30px;
   }
}